/********** Base styles **********/

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  color: #000000;
}


/********** simple responsive framework **********/

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
  }
}


/********** Page specific styles **********/

h1 {
  font-size: 1.75rem; /* 75% larger than the font size of the dummy text */
  text-transform: capitalize;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    margin-bottom: 30px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  h1 {
    margin-bottom: 50px;
  }
}

.container {
  width: 100%;
  overflow: auto;
}

.row {
  width: 100%;
}

/* Matches all classes starting with 'col-' */
[class^='col-'] {
  float: left;
  padding: 10px 20px;
}

/* Tablet + Desktop */
@media (min-width: 768px) {
  [class^='col-'] {
    padding: 10px;
  }
}

.content {
  position: relative;
  overflow: hidden;
  padding: 40px 15px 15px 15px;
  background-color: #ccd2d0;
  border: 1px solid black;
}

.section {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 150px;
  height: 30px;
  border: 1px solid #000000;
  font-size: 1.25rem; /* 25% larger than the font size of the dummy text */
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}

.chicken {
  background-color: #fdacac;
}

.beef {
  color: #ffffff;
  background-color: #d83434;
}

.sushi {
  background-color: #f5ebb2;
}

p {
  margin: 0;
  text-align: left;
}
